html,
body 
{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body 
{
	-webkit-box-orient: vertical;
	display: -webkit-box;
}


#div_body
{
	display: -webkit-flex;
	-webkit-flex-direction: line;
}


#div_ports 
{
	height: 100vh;
}

#textarea_log 
{
	height: 100vh;

	-webkit-flex: 1;

}
